@media (max-width: 1536px) {
    .card-img{
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  @media (max-width: 1280px) {}
  
  @media (max-width: 1024px) {}
  
  @media (max-width: 768px) {}
  
  @media (max-width: 640px) {
    .card-img{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
      }
  }
  
  @media (max-width: 475px) {
    
  }